<div class="comment">
  {{#each comments as |comment| }}
  <div class="card w-75 border-success mb-3">
    <div class="card-header bg-white border-success">Created by :{{user.name}} on {{formatDate: date_created}}</div>
    <div class="card-body text-success">
      <p class="card-text">{{content}}</p>
    </div>
    {{!-- {{This needs an href to the update form}} --}}
    <button class="btn btn-outline-success" type="button" id="updateComment">Update Comment</button>
    <button class="btn btn-outline-success" type="button" id="deleteComment">Delete Comment</button>
  </div>
  {{/each}}
</div>