<div class="card w-100 border-success mb-3">
  <div class="card-header bg-success  border-success">{{post.title}}</div>
  <div class="card-body text-white">
    <p class="card-text">{{post.content}}</p>
  </div>
  <div class="card-footer bg-success border-success">Created by :{{post.user.name}} on {{formatDate post.date_created}}</div>
</div>