<h2>Previous Posts</h2>
{{#if posts.length}}
{{#each posts as |post| }}
{{>post_info post}}
{{!-- {{update btn needs and href to take you to update the comment}} --}}
<button class="btn btn-outline-success" type="button" id="button-addon2"><a href="./updatePost.handlebars"></a>Update
        Post</button>
<button class="btn btn-outline-success" type="button" id="deleteBtn">Delete</button>
{{/each}}
{{/if}}

<script src="/js/deletepost.js"></script>