<div class="container">
    <div class="row justify-content-around">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <form id="logInForm" class="card-body">
                    <div>
                        <label for="email">Username</label>
                        <input type="text" id="email" />
                    </div>
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" />
                    </div>
                    <button type="submit" id="login-btn" class="btn">Login</button>
                </form>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Sign Up</h2>
                </div>
                <form id="signUpForm" class="card-body">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" id="userName" />
                    </div>
                    <div>
                        <label for="email">Email : </label>
                        <input type="text" id="signUpEmail" />
                    </div>
                    <div>
                        <label for="password" class="form-label">Password :</label>
                        <input type="password" id="signUpPass" />
                    </div>
                    <div>
                        <label for="confirmPassword" class="form-label">Password :</label>
                        <input type="password" id="confirmPass" />
                    </div>
                    <button type="submit" id="signUpBtn" class="btn">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../public/js/login.js"></script>
<script src="../public/js/signup.js"></script>