<div class="container">
    <div class="row justify-content-around">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Username">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="gmail.com" aria-label="Server">
                <input type="text" class="form-control" placeholder="Password" aria-label="Recipient">
                <button class="btn btn-outline-success" type="button" id="button-addon2">Log In</button>
            </div>
        </div>

        <div class="col"></div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" aria-label="Username">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="gmail.com" aria-label="Server">
            <input type="text" class="form-control" placeholder="Password" aria-label="Recipient">
            <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Recipient">
            <button class="btn btn-outline-success" type="button" id="button-addon2">Sign Up</button>
        </div>
    </div>
</div>
</div>