<div class="container">
    <h1>Welcome Back {{user.name}} !</h1>

    <h2>Add a new post?</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Title" aria-label="Post Title"
            aria-describedby="button-addon2">
        <input type="text" class="form-control" placeholder="Post" aria-label="Post Content"
            aria-describedby="button-addon2">
        <button class="btn btn-outline-success" type="button" id="button-addon2">Post!</button>
    </div>
</div>

<h2>Previous Posts</h2>
{{#if posts.length}}
{{#each posts as |post| }}
{{>post_info post}}
<button class="btn btn-outline-success" type="button" id="button-addon2">Update Post</button>
<button class="btn btn-outline-success" type="button" id="button-addon2">Delete</button>
{{/each}}
{{/if}}