<div class="input-group mb-3">
  <input id="update_comment" type="text" class="form-control" placeholder="{{content}}"
    aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-success" type="button" id="updateCommentBtn">Update</button>
</div>

<script src="../public/js/comment.js"></script>